<div class="row-space-2"></div>
<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <img src="http://placehold.it/250/0D8DBC&text=GDE" alt="GDE" class="img-circle">
  </div>
  <div class="col-md-12 text-center">
    <h1> <%= t('content.home_msg_1') %> </h1>
  </div>
</div>
<div class="row-space-2"></div>
<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <%= render "shared/login_form" %>
  </div>
</div>  