$white: #FFFFFF;
$mine-shaft: #2A2A2A;
$curious-blue: #1398D0;
$silver-chalice: #A5A5A5;
$outer-space: #2D333A;
$screaming-green: #6DFA48;
$pomegranate: #F42A15;

$background-color-header-left: $mine-shaft;
$background-color-header-center: $curious-blue;

$background-color-header-nav-user: lighten($curious-blue, 4%);
$text-color-header-nav-user: $white;

$background-color-header-right: darken($mine-shaft, 1%);
$background-color-header-friend-search: $outer-space;
$text-color-header-friend-search: $white;

header {
  .header-left {
    background-color: $background-color-header-left;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
  }

  .header-center {
    background-color: $background-color-header-center;

    .nav-user {
      background-color: $background-color-header-nav-user;
      float: left;
      padding-top: 18px;
      padding-bottom: 19px;
      padding-left: 50px;
      padding-right: 25px;

      .nav-user-info {
        float: left;
        padding-top: 2px;
        padding-left: 10px;

        .nav-user-name, .nav-user-notifications {
          clear: both;
          color: $text-color-header-nav-user;
          float: left;
        }

        .nav-user-name {
          font-size: 1.1em;
        }

$background-color-left-sidebar-menu-item-active: lighten($mine-shaft, 3.5%);
$border-color-left-sidebar-menu-item-active: $curious-blue;

        .nav-user-notifications {
          font-size: 0.7em;
        }
      }

      .nav-user-icon {
        color: $text-color-header-nav-user;
        float: left;
        margin-top: 10px;
        margin-left: 20px;
        font-size: 1.2em;
      }
    }
  }
  
  .header-right {
    .input-group {
      background-color: transparent;
      margin-left: -15px;
      margin-right: -15px;
      padding-top: 23px;
      padding-bottom: 23px;
      padding-left: 10px;
      padding-right: 10px;
      
      input, span {
        background-color: $background-color-header-friend-search;
        border: 0 none;
        color: $text-color-header-friend-search;
      }
        
      input:focus {
        outline: 0 !important;
      }
    }
  }
}

$background-color-left-sidebar-menu-title: darken($mine-shaft, 1%);
$text-color-left-sidebar-menu-title: $white;

$background-color-left-sidebar-menu-item: $mine-shaft;
$border-color-left-sidebar-menu-item: $mine-shaft;
$text-color-left-sidebar-menu-item: $silver-chalice;

$background-color-left-sidebar-menu-item-active: lighten($mine-shaft, 3.5%);
$border-color-left-sidebar-menu-item-active: $curious-blue;
$text-color-left-sidebar-menu-item-active: $white;
  
$background-color-left-sidebar-menu-item-hover: lighten($mine-shaft, 1%);
$border-color-left-sidebar-menu-item-hover: $silver-chalice;
$text-color-left-sidebar-menu-item-hover: $white; 

$border-color-left-sidebar-menu-item-separator: lighten($mine-shaft, 2%);

aside#left_sidebar {
  ul.left-sidebar-menu {
    list-style-type: none;
    padding: 0;

    li {
      border-right: 3px solid $background-color-left-sidebar-menu-item;
      display: inline-block;
      width: 100%;

      &:hover {
        border-right: 3px solid #2A2A2A;
      }

      a {
        background-color: $background-color-left-sidebar-menu-item;
        border-bottom: 1px solid $border-color-left-sidebar-menu-item-separator;
        color: $text-color-left-sidebar-menu-item;
        display: block;
        font-size: 1em;
        padding: 12px 20px;
        text-decoration: none;

        [class^="li_"]:before, [class*=" li_"]:before {
          font-size: 1.4em;
          padding-right: 5px;
          vertical-align: top;
        }

        @media(max-width: $screen-sm-max) {
          font-size: 1em;
          padding: 12px 18px;
        }
      }

      &.active {
        border-color: $border-color-left-sidebar-menu-item-active;
        
        a {
          background-color: $background-color-left-sidebar-menu-item-active;
          color: $text-color-left-sidebar-menu-item-active;
        }

        [class^="li_"]:before, [class*=" li_"]:before {
          color: $border-color-left-sidebar-menu-item-active;
        }
      }

      &:hover {
        border-color: $border-color-left-sidebar-menu-item-hover;
        
        a {
          background-color: $background-color-left-sidebar-menu-item-hover;
          color: $text-color-left-sidebar-menu-item-hover;
        }
      }

      &.title {
        background-color: $background-color-left-sidebar-menu-title;
        border-color: $background-color-left-sidebar-menu-title;
        color: $text-color-left-sidebar-menu-title;
        font-size: 1.4em;
        padding: 12px 24px;
      }
    }
  }
}

$main-content-bg: #FFF;
main#main-content {
  background-color: $main-content-bg;
}

$background-color-right-sidebar-menu-item: $outer-space;
$text-color-right-sidebar-menu-item: lighten($outer-space, 25%);

$background-color-right-sidebar-menu-item-hover: lighten($outer-space, 5%);

$text-color-online: $screaming-green;
$text-color-offline: lighten($outer-space, 25%);
$text-color-busy: $pomegranate;

aside#right_sidebar {
  ul.right-sidebar-menu {
    list-style-type: none;
    padding: 0;
    
    li {
      display: inline-block;
      float: left;
      width: 100%;
      
      a {
        background-color: $background-color-right-sidebar-menu-item;
        color: $text-color-right-sidebar-menu-item;
        float: left;
        display: block;
        line-height: 43px;
        font-size: 1em;
        overflow: hidden;
        padding: 5px 20px;
        text-decoration: none;
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;
        
        img {
          margin-right: 10px;
        }
        
        &:hover {
          background-color: $background-color-right-sidebar-menu-item-hover;
        }
        
        .status {
          float: right;
          font-size: 1.6em;
          
          &.online {
            color: $text-color-online;
          }
          
          &.offline {
            color: $text-color-offline;
          }
          
          &.busy {
            color: $text-color-busy;
          }
        }
      }
    }
  }
}

.no-padding {
  padding: 0 !important;
}

.no-transition {
  -webkit-transition: height 0;
  -moz-transition: height 0;
  -ms-transition: height 0;
  -o-transition: height 0;
  transition: height 0;
}

.no-border-radius {
  border-radius: 0;
}

#user-header {
  color: #FFF;
  padding: 18px 36px;
  background-color: #118BBC;

  .fa-inverse {
    color: #118BBC;
  }

  img {
    margin-right: 12px;
  }

}
