<footer class="text-center">
  <div class="footer-top container-fluid">
    <%= t('content.footer_message') %>
  </div>

  <div class="footer-bottom container-fluid">
    <strong><%= t('content.all_rights_reserved') %> 2007 - <%= Time.now.year %></strong>
  </div>
</footer>
