<ul class="right-sidebar-menu">
  <li>
    <%= link_to '#' do %>
      <%= image_tag 'http://placehold.it/43x43', class: 'pull-left', width: '43', height: '43' %>
      Xico Metranca
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
      <%= image_tag 'http://placehold.it/43x43', class: 'pull-left', width: '43', height: '43' %>
      Jeremias
    <% end %>
  </li>
</ul>